@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

body {
    margin:  0;
    padding: 0;
    z-index: 1;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    gap: 10px;
}

.navbar {
    font-family: 'Alice', serif;
    padding: 1.15rem 1.5rem;
}

.navbar-title {
    font-size: 2rem;
}

.botao {
    background-color: #8d8d8db2;
    width: 6rem;
    height: auto;
    font-family: Lexend Deca, serif;
    margin-right: 4rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}