@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

body {
    margin:  0;
    padding: 0;
    z-index: 1;
    font-family: "Lexend Deca";
}
.container {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    gap: 10px;
}
.navbar {
    padding:0.5rem 1.5rem;
    box-shadow: 0 5px 4px rgba(0,0,0,.25);
    background-color: #fff;
}

.navbar-title {
    font-family: 'Alice', serif;
    font-size: 2rem;
    text-decoration: none;
    color: black;
}

.botao {
    background-color: #8d8d8db2;
    width: 6rem;
    height: auto;
    font-family: Lexend Deca, serif;
    margin-right: 4rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}